/*in index.html we have set the nav id to "nav-bar"*/
#nav-bar {
  position: fixed; /* set the nav bar at top */
  height: 80px;
  width: 100%;    /* full width */
  background-color: #00a087;
  padding: 0 2em;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  margin: 10px;
  line-height: 80px;
  font-size: 2em;
  color: #e8fdff;
}

#nav-bar .compose {
  border: 2px gray;
  border-style: solid;
  border-radius: 7px;
  padding: 10px;
  width: 145px;
  height: 50px;
  font-size: 19px;
  margin-top: 15px;
  margin-right: 75px;
  color: #32b39f;
  background-color: #e5f5f3;
  float: right;
  input: {display:none};
}

#nav-bar:hover button {
  color: black;
  background-color: #eee;
}
