/*<section class="new-tweet">
  <h2>Compose Tweet</h2>
  <form action="/tweets" method="POST" style="">
    <textarea name="text" placeholder="What are you humming about?"></textarea>
    <input type="submit" value="Tweet">
    <span class="counter">140</span>
  </form>*/


.new-tweet {
  border: 2px gray;
  border-style: solid;
  border-radius: 7px;
  padding: 10px;
  margin: 2em;
  background-color: #eee;
  position: relative;
}

.new-tweet h2 {
  width: 282px;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
}

.counter {
  float: right;
  font-style: italic;
}

.over-char-limit {
  color: #ff0000;
}
