.tweet article {
  border: 2px gray;
  border-style: solid;
  border-radius: 7px;
  margin: 2em;
  position: relative;
  opacity: 0.5;
}

.tweet article p {
  margin: 0.5em;
  position: relative;
}

.tweet header {
  background-color: #eee;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-color: #D3D3D3;
  border-bottom-style: solid;
}

.tweet img {
  vertical-align: bottom;

}

.tweet h2 {
  float: right;
  font-size: 14px;
  padding-top: 22px;
}

.tweet h1 {
  font-size: 25px;
  display: inline;
}

.tweet footer {
  position: relative;
  font-size: 12px;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-top-style: solid;
}

.tweet footer.time {
  margin: 1em;
  position: relative;
  font-size: 12px;
  /*width: 282px;*/
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  border-top-style: solid;
  position: relative;
  padding-top: 2px;
}

.icons  {
  opacity: 0;
  float: right;
  position: relative;
}

.icons .fa-heart:hover {
  color: red;
}

.icons .fa-retweet:hover {
  color: green;
}

.icons .fa-flag:hover {
  color: black;
}

.tweet:hover .icons {
  opacity: 1.0;
}

.tweet:hover article {
  opacity: 1.0;
}
